<!DOCTYPE html>
<html>
<head>
    <title>Table View</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h2>Names and Emails</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for user in user %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td><button onclick=location.href="{{ url_for('update_user', user_id=user.id) }}"> Update</button></td>
            <td><button onclick=location.href="{{ url_for('user_delete', user_id=user.id) }}"> Delete</button></td>
        </tr>
        </tr>
        {% endfor %}
    </table>
</body>
</html>